*
{
    font-size: 9;

    /*the extras are unnecessary for chrome*/
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card{
  position:absolute;
  width:100px;
  height:140px;
  border-radius:6px;
  border:none;
  z-index:0;
  background: black;
  background-size: cover;
}

.bigCard{
  position:absolute;
  width:215px;
  height:301px;
  border-radius:13px;
  border:none;
  z-index:0;
  background: black;
  background-size: cover;
}

.counter{
  position: absolute;
  left: 0px;
  top: 0px;
  width:100px;
  height:28px;
  z-index:1;
  background: rgba(0,0,0,0.2);
  box-sizing:border-box;
  border-top:1px solid rgba(200,200,200,.5);
}

.taps{
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 90%;
  width:100px;
  height:14px;
  z-index:0;
  background: rgba(0,0,0,0.2);
  box-sizing:border-box;
  border-top:1px solid rgba(200,200,200,.5);
}

.countertext{
  position:absolute;
  top:30%;
  left:20%;
  width:60%;
  height:40%;
  background: rgba(255,255,255,.8);
  text-align: center;
  padding-bottom: 3px;
  box-sizing:border-box;
  border:1px solid rgba(192,192,192,.6);
}

.counterbutton{
  position:absolute;
  top:30%;
  left:80%;
  width:10%;
  height:40%;
  background: rgba(96,0,0,.9);
  box-sizing:border-box;
  border:2px solid rgba(128,64,64,.4);
}

.interface{
  position:absolute;
  top:30%;
  left:30%;
  width:40%;
  height:40%;
  background-color: #ffffff;
  border:3px solid #808080;
  padding:0px;
  visibility:hidden;
  z-index:3000;
}

